.song-form {
  display: grid;
  grid-gap: 10px;
  width: 40vw;
  justify-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
  margin-top: 15px;
}

input {
  width: 25vw;
}
